{% extends 'base.html.twig' %}

{% block title %}EditableTextContent index{% endblock %}

{% block body %}
    <h1>EditableTextContent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TextContent</th>
                <th>IdAttribute</th>
                <th>Tag</th>
                <th>Page</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editable_text_content in editable_text_contents %}
            <tr>
                <td>{{ editable_text_content.id }}</td>
                <td>{{ editable_text_content.textContent }}</td>
                <td>{{ editable_text_content.idAttribute }}</td>
                <td>{{ editable_text_content.tag }}</td>
                <td>{{ editable_text_content.page }}</td>
                <td>{{ editable_text_content.createdAt ? editable_text_content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ editable_text_content.updatedAt ? editable_text_content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_editable_text_content_show', {'id': editable_text_content.id}) }}">show</a>
                    <a href="{{ path('app_editable_text_content_edit', {'id': editable_text_content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_editable_text_content_new') }}">Create new</a>
{% endblock %}
